<h3><%= @volunteer.name%></h3>

<form action="/volunteers/<%= @volunteer.id%>/edit" method="post">
  <input name="_method" type="hidden" value="patch">
 <label for="project_id">Update or Add Volunteer to a Project</label>
 <% @projects.each() do |project| %>
   <div class="checkbox">
     <label>
       <input type="radio" name="project_id" value="<%= project.id() %>" checked="<%= project.id() %>"><%= project.title() %>
     </label>
   </div>
  <% end %>
  <button type="submit">Add Volunteer</button>
 </form>

<form action="/volunteers/<%= @volunteer.id%>/name" method="post">
  <input name="_method" type="hidden" value="patch">
 <label for="name">Update Volunteer's Name</label></br>
 <input id="name" name="name" type="text" value="<%= @volunteer.name%>"></br>
 <button type="submit">Update Volunteer</button>
</form>

<a href="/">Return to Main Page</a>
